[flake8]
max-line-length = 100
extend-ignore = E203
exclude =
    .git,
    __pycache__,
    .mypy_cache,
    .pytest_cache,
    migrations

per-file-ignores =
    core/settings/*.py: F401, F403, E402